<div class="panel panel-default">
  <div class="panel-heading">
    Receita
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Nome</th>
            <td><%= @recipe.name %></td>
          </tr>
          <tr>
            <th>Tipo de Receita</th>
            <td><%= @recipe.recipe_type.name %></td>
          </tr>
          <tr>
            <th>Culinária</th>
            <td><%= @recipe.cuisine.name if @recipe.cuisine %></td>
          </tr>
          <tr>
            <th>Ingredientes</th>
            <td><%= @recipe.ingredients %></td>
          </tr>
          <tr>
            <th>Modo de preparo</th>
            <td><%= @recipe.cook_method %></td>
          </tr>
          <tr>
            <th>Tempo de preparo</th>
            <td><%= @recipe.cook_time %></td>
          </tr>
          <tr>
            <th>Status</th>
            <td><%= @recipe.status %></td>
          </tr>

        </thead>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
<%= link_to "Publicar", publish_admins_dashboard_review_path(@recipe)  %>
<%= link_to "Editar", edit_admins_dashboard_review_path(@recipe) %>