<h1>Dashboard Administrativo</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    Receitas
  </div>
  <!-- /.panel-heading -->
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th> Nome</th>
            <th> Tipo da Receita</th>
            <th> Autor </th>
            <th> Status </th>
            <th> 
              <%= link_to new_admins_dashboard_recipe_path, class: "btn btn-success btn-circle" do %>
                <i class="fa fa-plus"></i>
              <% end %>
             </th>
          </tr>
        </thead>
        <tbody>
          <% @recipes.each do |recipe| %>
            <tr>
              <td> <%= recipe.id %> </td>
              <td> <%= recipe.name %> </td>
              <td> <%= recipe.recipe_type.name %></td>
              <td> <%= recipe.author.email %></td>
              <td> <%= recipe.status %></td>
              <td style='width: 100px'> 
              <%= link_to admins_dashboard_recipe_path(recipe), method: :delete, class:"btn btn-danger btn-circle",   data: {confirm: "Deseja realmente excluir essa receita?"} do %>               
                <i class="fa fa-minus"></i>
              <%end%>

              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>